<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Sunshower is a boutique cooperative game studio created to fulfill the need for high quality, lovingly hand-crafted experiences. We're made up of industry vets who know how to analyze and understand current and historical trends, and we pride ourselves on these abilities to chart our course.</p>
      </div>
      <div class="col-lg-4">
        <p>Our mission is simple: deliver iconic games that will withstand the test of time.</p> 
		<p>Part of achieving and sustaining that mission statement is our philosophy -- to weather the storm in a demanding industry that changes every day.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="build/index.html" target="_blank"><button type="button" class="btn btn-homepage">Presskit</button></a>
      </div>
    </div>
  </div>
</section>
