	<footer id="footer">
        <div class="container">
			<column>
				<row>
				  <a class="footer-link" href="mailto:hunter@studiosunshower.com"><img class="img-icon" src="/assets/images/icon_mail.png"></a>
				  <a class="footer-link" href="https://twitter.com/studiosunshower"><img class="img-icon" src="/assets/images/icon_twitter.png"></a>
				  <a class="footer-link" href=https://www.youtube.com/channel/UC234FWrEan_qpsjAaOBVl0w><img class="img-icon" src="/assets/images/icon_yt.png"></a>
				  <a class="footer-link" href="https://www.facebook.com/studiosunshower/"><img class="img-icon" src="/assets/images/icon_fb.png"></a>
				</row>
				<hr class="footer-hr">
				<row>
				  <ul class="footer__menu">
				  <li>©  
					  <script type="text/javascript">
					  var d = new Date()
					  document.write(d.getFullYear())
					  </script>
					  Sunshower LLC. All Rights Reserved.
					</li>
				</ul>
			  </row>
			</column>
        </div>
      </footer>