	<footer class="footer">
		<div class="footer-grid">
		<div class="blog-item-left"></div>
			<div class="footer-item">
				<a class="footer-link" href="mailto:hunter@studiosunshower.com"><img class="img-icon" src="{{ site.baseurl }}/assets/images/icon_mail.png"></a>
			</div>
			<div class="footer-item">
				<a class="footer-link" href="https://twitter.com/studiosunshower"><img class="img-icon" src="{{ site.baseurl }}/assets/images/icon_twitter.png"></a>
			</div>
			<div class="footer-item">
				<a class="footer-link" href=https://www.youtube.com/channel/UC234FWrEan_qpsjAaOBVl0w><img class="img-icon" src="{{ site.baseurl }}/assets/images/icon_yt.png"></a>
			</div>
			<div class="footer-item">
				<a class="footer-link" href="https://www.facebook.com/studiosunshower/"><img class="img-icon" src="{{ site.baseurl }}/assets/images/icon_fb.png"></a>
			</div>
			<div class="footer-item">
				<a class="footer-link" href="https://discord.gg/9jrXWTjvVf"><img class="img-icon" src="{{ site.baseurl }}/assets/images/icon_discord.png"></a>
			</div>
			<div class="blog-item-right"></div>
		</div>
		<div class="container">
		<column>
			<row>
			  <ul class="footer__menu">
			  <li>©  
				  <script type="text/javascript">
				  var d = new Date()
				  document.write(d.getFullYear())
				  </script>
				  Sunshower LLC. All Rights Reserved.
				</li>
			</ul>
		  </row>
		</column>
	</div>
  </footer>