<div class="jumbotron">
	<div class="navsection">
		<div class="jumbotron-layout">
			<img class="blog-item-logo" src="/assets/images/sunshower-blog_logo_header.png" alt="Welcome to Sunshower!">
			<div class="blog-item-archive hidden-mobile">
				this is a test of the pacer emergency system </br>
				[jrpg villain quote] </br>
				do androids dream of electric sheep?</br>
				i was gratified to tell the truth; i did not know </br>
				pingers </br>
				pongers </br>
			</div>
			<div class="blog-item-button1 hidden-mobile">
				ARCHIVE
			</div>

			<div class="blog-item-button3 hidden-mobile">
				ABOUT
			</div> 
			<nav>
				<div class="blog-navbar">
				
				</div>
			</nav>
		</div>
	</div>
</div>
