<div class="jumbotron">
	<div class="navsection">
		<div class="jumbotron-layout">
			<img class="blog-item-logo" src="/assets/images/sunshower-blog_logo_header.png" alt="Welcome to Sunshower!">
			<div class="blog-item-archive hidden-mobile">
				<div class="archive-box">
					{% for post in site.posts limit:7 %}
						<li class="archive-panel">
						  <a class="archive-link" href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</a>
						</li>
					{% endfor %}
				</div>
			</div>
				
				<div class="blog-item-button1">
					<a class="blog-button" href="/blog.html">
						Home
					</a>
				</div>
			
			<div class="blog-item-button2">
				</div> 
				<div class="blog-item-button3">
					<a class="blog-button" href="/archive.html">
						ARCHIVE
					</a>
				</div> 
			<nav>
				<div class="blog-navbar">
				
				</div>
			</nav>
		</div>
	</div>
</div>
