<!-- Staff Grid Section -->
<section class="success" id="staff">
  <div class="container staff-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>The Team</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="staff-flex-row">
      {% for post in site.staff %}
      <div class="staff-flex-item staff-item">
        <a href="#staffModal-{{ post.modal-id }}" class="staff-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/staff/{{ post.img }}" class="img-staff-grid" alt="{{ post.alt }}">
        </a>
        <p class="staff-name">{{ post.name }}</p>
        <p class="staff-position">{{ post.position }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
