@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Teko|Strait');

$red: #F95D62;
$blue: #56CCF2;
$green: #63FFAB;
$yellow: #FCDDAD;
$white: #FFFFFF;
$navy: #0D2A38;

a.footer-link {
	text-align: center;
	color: #ffffff;
	font-family: 'Fredoka One';
	margin-left: auto;
	margin-right: auto;
}

a.footer-link:hover {
	color: #ffffff;
	text-decoration: underline;
}

.column {
	float: left;
	width: 50%;
	padding-right: 3em;
}

.container {
	text-align: center;
}

.footer-hr {
	border-top: 1px solid $white;
	border-bottom: 0px solid $white;
	border-left: 0px solid $white;
	border-right: 0px solid $white;
}
.footer__menu {
	color: #ffffff; /* White */
	list-style: none;
	display: table;
	justify-content: center;
	height: 3em;
	padding: 0;
	margin-bottom: 0;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
}

.footer__menu li {  
	padding: 0 1rem 1rem 1rem;
	font-family: 'Fredoka One';
}

.footer__menu li > a {  
	color: #ffffff; /* White */
	text-decoration: none;
}

.img-icon {
  width: 5%;
  max-width: inherit;
  margin-top: inherit;
  margin-left: inherit;
  margin-right: inherit;
  padding: 1em;
}

.row {
	display: flex;
	margin: inherit;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Mobile styles */
@media (max-width: 786px) {
  .visible-mobile {
    display: inline !important;
  }

  .hidden-mobile {
    display: none !important;
}

.footer {
	color: $white;
	width: 100%;
	background-color: $navy;
	margin-top: 0;
	padding-top: 2em;
}
.footer-container {
	text-align: center;
}

.footer__menu {
	color: #ffffff; /* White */
	list-style: none;
	display: grid;
	height: 303px;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}
  
.footer__menu li {  
	padding: 0 1rem 1rem 1rem;
}
  
.footer__menu li > a {  
	color: #ffffff; /* White */
	text-decoration: none;
}
  
.footer-link > img {
	display: grid;
	width: 25%;
	height: 25%;
	align-content: center;
	align-self: center;
	align-items: center;
	text-align: center;
}
.img-icon {
	width: 8%;
	height: 5%;
	max-width: inherit;
	margin-top: inherit;
	justify-items: inherit;
	justify-content: inherit;
	justify-self: inherit;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
}