<!doctype html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial scale= 1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles-blog.scss">
	{% feed_meta %}
    {% seo %}
	<style>
		.footer {
			background-color: #1D1D1D;
		}
	</style>
  </head>
		{% include navigation-blog.html %}
		<body style ="margin-right: 0px;margin-top: 0px;margin-left: 0px;margin-bottom: 0px;">
		<div class="background">
		<div class="background-image hidden-mobile"></div>
		<div class="blog-main">
			<div class="blog-item-left"></div>
				<div class="blog-post-content">
				{{ content }}
			</div>
			<div class="blog-item-right"></div>
		</div>
		</div>
		{% include footer.html %}
  </body>
</html>