<!doctype html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial scale= 1.0">
    <title>{{ page.title }}</title>
	<style>
	
	#footer {
		color: #ffffff; /* White */
		width: 100%;
		background-color: #0D2A38;
		margin-top: 0;
		padding-top: 6em;
	}
	
	</style>
	{% if page.custom_css %}
		{% for stylesheet in page.custom_css %}
			<link rel="stylesheet" href="/assets/css/{{ page.custom_css }}.css">
		{% endfor %}
	{% endif %}
  </head>
  <body style ="margin-right: 0px;margin-top: 0px;margin-left: 0px;margin-bottom: 0px;">
		{% include navigation-blog.html %}
	<div class="background">
	<div class="background-image hidden-mobile"></div>
	<div class="blog-main">
		<div class="blog-item-left"></div>
			<div class="blog-post-content">
			{{ content }}
		</div>
		<div class="blog-item-right"></div>
	</div>
	</div>
	{% include footer.html %}
  </body>
</html>